<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Best fish</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .image-container {
            position: relative;
            display: inline-block;
        }

        .image-container img {
            transition: transform 0.3s ease;
            width: 90px;
        }

        .image-container:hover img {
            transform: scale(4);
            z-index: 10;
            position: relative;
        }
    </style>
</head>
<body><div class="container d-flex justify-content-end my-3">
    <div>
        <a class="btn btn-primary me-2" href="/register">Реєстрація</a>
        <a class="btn btn-secondary me-2" href="/login">Увійти</a>

        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-danger">Вийти</button>
        </form>
    </div>
</div>
<div class="container">
    <h1 class="text-center my-4">Рибка на продаж</h1>

    <a class="btn btn-success" href="/fish/create">Додати рибки</a>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Товар</th>
            <th>Ціна</th>
            <th>Дата вилову</th>
            <th>Фото</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fish : ${fishlist}">
            <td th:text="${fish.id}"></td>
            <td th:text="${fish.name}"></td>
            <td th:text="${fish.price} + '₴'"></td>
            <td th:text="${fish.catchDate.toString().substring(0,10)}"></td>
            <td class="text-end">
                <div class="d-flex align-items-center justify-content-between" style="gap: 20px; width: 100%;">
                    <div class="d-flex justify-content-start" style="gap: 20px; flex-grow: 1;">
                        <div class="image-container text-center" th:if="${fish.firstImageFileName != null and fish.firstImageFileName != ''}">
                            <img th:src="@{'/images/'+${fish.firstImageFileName}}" alt="..." width="90">
                        </div>
                        <div class="image-container text-center" th:if="${fish.secondImageFileName != null and fish.secondImageFileName != ''}">
                            <img th:src="@{'/images/'+${fish.secondImageFileName}}" alt="..." width="90">
                        </div>
                        <div class="image-container text-center" th:if="${fish.thirdImageFileName != null and fish.thirdImageFileName != ''}">
                            <img th:src="@{'/images/'+${fish.thirdImageFileName}}" alt="..." width="90">
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-success btn-sm" th:href="@{/fish/delete(id=${fish.id})}"
                           onclick="return confirm('Ви впевнені?')">Придбати</a>
                    </div>
                </div>
            </td>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>